{% extends "base.html" %}

{% block content %}

<img>
<p> Kalvystė yra tradicinis amatas, kurio metu kaitinant, kalant, lankstant apdirbamas metalas, gaminami metaliniai dirbiniai. Patiems seniausiems geležies gaminiams apytiksliai yra 4000 metų. Kalviai dažniausiai gamina tokius daiktus kaip vartai, stogeliai, turėklai, šviestuvai, baldai, įrankiai, dekoratyviniai daiktai ar maisto gaminimui skirta įranga. Gaminių asortimentas yra itin platus. Kadangi mūsų dirbiniai yra gaminami pagal individualius užsakymus, kiekvienas iš jų yra unikalus. Visa produkcija yra rankų darbo, todėl jums neteks nusivilti kokybe. Mes pasiryžę bendradarbiauti su kiekvienu klientu ir įgyvendinti net pačius kūrybingiausius norus. Kalviškas dirbinys - ilgaamžė jūsų namų puošmena.


    {% for comment in comments %}
        <h2>{{comment.name}}</h2>
        <p>{{ comment.body }} </p>
    {% endfor %}


{% if user.is_authenticated %}
    <a href="{% url "add_comment" %}">Add Comment <a>
{% endif%}


{% endblock %}
