{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\static\css\base.css">
    <title>Document</title>
</head>
<body>
    {% block sidebar %}
    <header>
        <ul>
            <li>homepage</li>
            <li>shop</li>
            <li><a href="{% url 'subscribe' %}">subscribe</a></li>
            <li>abaut us</li>
            <li>offers</li>
            <li>products</li>
            <li><a href="{% url 'admin' %}">admin</a></li>
        </ul>
    </header>
    {% endblock %}
    <section>
        {% block content %}{% endblock %}
    </section>
</body>
</html>
