{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\static\css\base.css">
    <link rel="stylesheet" href="..\static\css\header.css">
    <link rel="stylesheet" href="..\static\css\products.css">
    <link rel="stylesheet" href="..\static\css\slide.css">
    <link rel="stylesheet" href="..\static\css\footer.css">
    <link rel="stylesheet" href="..\static\css\single_item.css">
    <link rel="stylesheet" href="..\static\css\galery.css">
    <title>Document</title>
</head>
<body>
    {% block top_nav %}
    {% load i18n%}
    <header>
        <div class="header_wrapper">
            <img class="logo" src="..\static\img\logo.png" alt="">
            <ul class="header_list">
                <li><a class="header_item" href="\">{% trans "Products" %}</a></li>
                <li><a class="header_item" href={% url 'galery' %} >{% trans "Galery"%}</a></li>
                <li><a  class="header_item" href="{% url 'abaut_us' %}">{% trans "About us"%}</a></li>
                <form class="header_form" action="{% url 'set_language' %}" method="post">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}"/>
                    <select name="language" onchange="this.form.submit()">
                        {% load static %}
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% for lang in LANGUAGES %}
                        <option value="{{ lang.0 }}" {% if lang.0 == LANGUAGE_CODE %} selected="selected" {% endif %}>
                            {{ lang.0 }}
                        </option>
                        {% endfor %}
                    </select>
                </form>
            </ul>
            <ul class="user_list">
                {% if user.is_authenticated %}
                    <li ><a class="user_name" href="#"> {% trans "Hello" %} {{ user.get_username }}!</a></li>
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button class="logout" type="submit">logout</button>
                    </form>
                {% else %}
                <li ><a class="header_item" href="{% url 'login'%}?next={{request.path}}">{% trans "Login" %}</a></li>
                {% endif %}
                {% if not user.is_authenticated %}
                <li ><a class="header_item" href="{% url 'register'%}">{% trans "Register" %}</a></li>
                {% endif %}
            </ul>
        </div>
            
    </header>
    {% endblock %}
                {% block content %}
    <section class="slide">
        <div class="slideshow-container">
            <div class="slideshow-inner">
                {% for image in landing_photos%}
                    <div class="mySlides">
                        <img class="slide_img" src="..\media\{{image.image}}"  alt="sally lightfoot crab" />
                    </div>
                {% endfor %}
            </div>
        
            <div>
                <button class="prev" onclick="plusSlides(-1)">&#10094;</button>
                <button class="next" onclick="plusSlides(1)">&#10095;</button>
            </div>
            
        </div>
            <div class="dot_wrapper">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
                <span class="dot" onclick="currentSlide(4)"></span>
            </div>
    </section>
    <section class="product_section_wrapper">
        <div class="product_headline">
            <div class="line"></div>
            <h1 class="product_headline">{% trans "Items that are availible right now!!" %}</h1>
            <div class="line"></div>
        </div>
        <div class="grid">

                {% for product in page.object_list %}
                        <div class="product_wrapper">
                            <a href="{{ product.id }}">
                                <img class="product" src="..\media\{{product.image}}" alt="">
                                <div class="product_text">
                                    <h2>€ {{ product.price }}</h2>
                                    <p>{{ product.name }}</p>
                                </div>
                            </a>
                        </div>
                {% endfor %}
            </div>
            <div class="paginator">
                <div class="page_links">
                    {% if page.has_previous %}
                    <a href="{% url 'base' %}?page={{ page.previous_page_number }}"><img src="..\static\img\left+previous.svg"></a>
                    {% endif %}
                    {% if page.has_next %}
                    <a href="{% url 'base' %}?page={{ page.next_page_number }}"> <img src="..\static\img\next+right.svg"></a>
                    {% endif %}
                </div>
            </div>
    </section>


            {% endblock %}
        
 

    {% block footer %} 
    <section class="footer_section">
        <footer>
            <div class="footer_wrapper">
                <div>
                    <div class="footer_item">
                    <li><a href="https://www.facebook.com/Tutokalv%C4%97-762635163920440"><img class="footer_img" src="..\static\img\facebook.png" alt=""></a></li>
                    </div>
                    <div class="footer_item">
                        <img class="footer_img" src="..\static\img\email.png" alt="">
                        <p class="footer_text">tosis537@gmail.com</p>
                    </div>
                    <div class="footer_item">
                        <img class="footer_img" src="..\static\img\phone-call.png" alt="phone">
                        <p class="footer_text" >+37060323103</p>
                    </div>
                </div>
                    <img class="footer_logo" src="..\static\img\logo.png" alt="logo"> 
            </div>
        </footer>
    </section>
    {% endblock %}

    
</body>
<script src="..\static\script\myscript.js"></script>
</html>
