{% extends "base.html" %}
{% block content %}
{% load i18n%}


    <section class="slide">
        <div class="single_slideshow-container slideshow-container">
            <div class="single_slideshow-inner slideshow-inner">

                {% for each in product_img %}

                <div class="mySlides">
                    <img class="single_slide_img" src="..\media\{{ each.images }}" alt="..." />
                </div>
                {% endfor %}

                <div class="mySlides">
                    <img class="single_slide_img" src="..\media\{{ product.image }}" alt="..." />
                </div>
            </div>
    
            <div>
                <button class="single_prev prev" onclick="plusSlides(-1)">&#10094;</button>
                <button class="single_next next" onclick="plusSlides(1)">&#10095;</button>
            </div>
        </div>
 
            <div class="descriptin_wrapper">
                <h1>{% trans "Price" %} {{ product.price }}</h1>
                <div class="description">
                    <div class="details details1">

                        <h3> {% trans "Name:" %}</h3>

                        <h3>{% trans "Description:" %}</h3>

                        <h3>{% trans "Measurements:" %}</h3>
                    
                        <h3>{% trans "@mail:" %}</h3>
                    
                        <h3>{% trans "Mobile:" %}</h3>
                    </div>
                    <div class="details">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% if LANGUAGE_CODE == "lt" %}
                            <h3>{{product.name_lt}}</h3>
                            <h3>{{product.description}}</h3>
                        {% else %}
                            <h3>{{product.name_en}}</h3>
                            <h3>{{product.description_en}}</h3>
                        {% endif %}

                        <h3>{% trans "Height" %}-{{product.height}}cm {% trans "width" %}-{{product.whith}}cm {% trans "length"%}-{{product.lenght}}cm</h3>

                        <h3>tosis537@gmail.com</h3>

                        <h3>+37060323103</h3>
                    </div>
                </div>
            </div>
    </section>
 


{% endblock %}
